body{background: black;
   
}
.name{
     margin-left:10px ;
     padding-left: 10px;}
.options{
     margin-left:370px ;
     padding-left: 10px;
 }
.post{
     width: 530px;
     height:770px;
     background:white;
     margin: auto;
    
}
.post-header{
     padding-left: 8px;
     display: flex;
     align-items: center;
 }
.body-icons{ padding-left: 10px;}
.first-text{ padding-left: 10px;}
.second-text{ padding-left: 10px;}
img{
     margin: 0%;
     width: 530px;
     height:450px; 
    
}

.post-header{
     display: flex;
}
.grid-item{
     margin-top: auto;
     margin-bottom: auto;
}

h1{ 
     margin-left: 0;
     line-height: center;
}


