body{background: black;
   
}
.grid-container {   
     display: grid;
     grid-template-columns: 50px auto auto;
     margin: auto;
} 

.post{
     width: 530px;
     height:970px;
     background:white;
     margin: auto;
}

img{
     margin: 0%;
     width: 530px;
     height:650px; 
    
}

.post-header{
     display: flex;
}
.grid-item{
     margin-top: auto;
     margin-bottom: auto;
}

h1{ 
     margin-left: 0;
     line-height: center;
}


